@import "bourbon";
@import "neat/neat";
@import "base/base";

.outside {
        @include outer-container;
}

.header {
        @include span-columns(12);
        background-color: $blue;

        h1 {
                font-size: $base-h1-size;
                color: white;
                a {
                  color: white;
                }
        }

}

.main-container {
        @include span-columns(12);
}

.left-column {
        @include span-columns(3);
        padding: $base-spacing;
        .twitters {
        }
}

.main {
        @include span-columns(4 of 9);
        margin-top: 1.4em;
        h1 {
                margin-bottom: 0;
                font-size: $article-h1-size;
                a {
                        color: $dark-gray;
                }
        }
        h2 {
                margin-bottom: 0;
                font-size: $article-h2-size;
                a {
                        color: $dark-gray;
                }
        }
        h4 {
                font-size: $article-h4-size;
        }
}

.right-column {
        @include span-columns(3);
        padding: $base-spacing;
        .sub-element {
                margin-top: 1.5em;
        }
        p {
                font-size: $small-font-size;
        }
}

.smaller-text {
        font-size: $smaller-font-size;
}

.highlight {
        @include shift(1);
}

.article-date {
        font-size: $small-font-size;
        font-color: $font-light-color;
        padding: $article-date-spacing;
}
