<section class="about">
  <h4>About Me</h4>
  <p>Seattle-based computerer. Not very interesting.</p>
  <ol class="smaller-text">
    <li><a href="https://github.com/frightenedmonkey">Github</a></li>
    <li><a href="https://twitter.com/mlewis">Twitter</a></li>
    <li><a href="https://www.linkedin.com/pub/michael-lewis/55/418/575">LinkedIn</a></li>
  </ol>
</section>
